<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <error-page>
        <exception-type>ru.clevertec.exception.AccountNotFoundException</exception-type>
        <location>/exceptions</location>
    </error-page>
    <error-page>
        <exception-type>ru.clevertec.exception.BankNotFoundException</exception-type>
        <location>/exceptions</location>
    </error-page>
    <error-page>
        <exception-type>ru.clevertec.exception.TransactionNotFoundException</exception-type>
        <location>/exceptions</location>
    </error-page>
    <error-page>
        <exception-type>ru.clevertec.exception.UserNotFoundException</exception-type>
        <location>/exceptions</location>
    </error-page>
    <error-page>
        <exception-type>ru.clevertec.exception.ResourceSqlException</exception-type>
        <location>/exceptions</location>
    </error-page>
    <error-page>
        <exception-type>ru.clevertec.exception.PdfServiceException</exception-type>
        <location>/exceptions</location>
    </error-page>
    <error-page>
        <exception-type>ru.clevertec.exception.InitializationException</exception-type>
        <location>/exceptions</location>
    </error-page>
    <error-page>
        <exception-type>ru.clevertec.exception.BadRequestException</exception-type>
        <location>/exceptions</location>
    </error-page>
</web-app>